<div class="container mt-5">
    <h2>Email Form</h2>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="To">To</label>
        <input type="email" class="form-control" formControlName="To" id="To" name="To">
      </div>
      <div class="form-group">
        <label for="Subject">Subject</label>
        <input type="text" class="form-control"  formControlName="Subject" id="Subject"  name="subject">
      </div>
      <div class="form-group">
        <label for="Body">Body</label>
        <textarea class="form-control"  formControlName="Body" id="Body" rows="5"  name="body"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
  